<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zheng.business.dao.CityMapper">

    <select id="findCityname" resultType="CityCode">
        SELECT * from cityandcode where city_code=#{city_code}
    </select>

</mapper>